@model IEnumerable<CrudOperationsOnRestaurentAss10Feb.Models.Restaurant>
@{
    ViewBag.Title = "Index";
}

<form class="form-inline" action="/home/index">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" name="search" placeholder="search" value="@ViewBag.Search" />
    <button type="submit" class="btn btn-primary">Go</button>
   <a href="/Home/create" class="btn btn-outline-info">Add Restaurant</a>
</form>


<br />
<h2>Restaurant List</h2>
<table class="table">
    <tr>
        <th>Restaurant Id</th>
        <th>Restaurant Name</th>
        <th>Cusione Type</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Rid</td>
    <td>@item.Rname</td>
    <td>@item.CusineType</td>
    <td><a href="/Home/Update/@item.Rid" class="btn btn-primary">Update</a></td>
    <td><a href="/Home/Delete/@item.Rid" class="btn btn-danger">Delete</a></td>
</tr>

    }
</table>

